<app-toolbar></app-toolbar>

<div class="dashboard-container">
  <app-sort-control (sortChanged)="onSortChange($event)"></app-sort-control>
  <app-search-control
    (searchChanged)="onSearchQueryChange($event)"
  ></app-search-control>

  <div class="dashboard-content">
    <app-person-list
      [people]="people$ | async"
      [sortBy]="sortBy"
      [searchQuery]="searchQuery"
      (personSelected)="togglePerson($event)"
    ></app-person-list>

    <app-person-details
      [person]="selectedPerson$ | async"
      [heartRateData]="heartRateData$ | async"
      [bmi]="bmi$ | async"
    ></app-person-details>
  </div>
</div>
