<app-toolbar></app-toolbar>

<div class="dashboard-container">
  <div class="controls-container">
    <app-search-control
      (searchChanged)="onSearchQueryChange($event)"
    ></app-search-control>
    <app-sort-control (sortChanged)="onSortChange($event)"></app-sort-control>
  </div>

  <div class="dashboard-content">
    <ng-container *ngIf="!(loading$ | async)">
      <app-person-list
        [people]="people$ | async"
        [sortBy]="sortBy"
        [searchQuery]="searchQuery"
        (personSelected)="togglePerson($event)"
      ></app-person-list>
    </ng-container>
    <app-skeleton-loader *ngIf="loading$ | async"></app-skeleton-loader>

    <app-person-details
      [person]="selectedPerson$ | async"
      [heartRateData]="heartRateData$ | async"
      [bmi]="bmi$ | async"
    ></app-person-details>
  </div>
</div>
