html,
body {
  height: 100%;
  margin: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.controls-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
}

.dashboard-content {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

app-sort-control,
app-search-control {
  flex: 1;
}

app-person-list {
  flex: 1;
  max-width: 45%;
}

app-person-details {
  flex: 1;
  max-width: 45%;
}
