<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Username"
      formControlName="username"
      [attr.disabled]="isLockedOut ? '' : null"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      type="password"
      formControlName="password"
      [attr.disabled]="isLockedOut ? '' : null"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="isLockedOut"
  >
    Login
  </button>
  <div *ngIf="isLockedOut">
    <p>Locked out. Try again in {{ lockoutTime }} seconds.</p>
  </div>
</form>
